/*
  Possible Animations:
  enter
  leave
  appear Must set transitionAppear={true} on animation component
*/

.dp-appear
  transform translateY(-100%)
  opacity 0
  transition all 1s ease-out
  &.dp-appear-active
    transform translateY(0)
    opacity .5